<p>index works!</p>

<app-create></app-create>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Reference</th>
            <th scope="col">Designation</th>
            <th scope="col">Marque</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité Stock</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of prod" class="table-active">
            <td><img src="{{p.imageart}}" alt="" width="100" height="100"></td>
            <td>{{p.reference}}</td>
            <td>{{p.designation}}</td>
            <td>{{p.marque}}</td>
            <td>{{p.prix}}</td>
            <td>{{p.qtestock}}</td>
            <td><button type="button" value="" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button></td>
            <td><button type="button" value="" class="btn btn-info"><i class="bi bi-pencil"></i></button></td>
            <td><button type="button" value="" class="btn btn-danger" (click)="delArticle(p._id)"><i
                        class="bi bi-trash"></i></button></td>
        </tr>

    </tbody>
</table>